@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(223.8136 -172.5242% 100.0000%);
  --foreground: hsl(0 0% 3.9216%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9216%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9216%);
  --primary: hsl(357.6355 80.2372% 50.3922%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 96.0784%);
  --secondary-foreground: hsl(0 0% 9.0196%);
  --muted: hsl(0 0% 96.0784%);
  --muted-foreground: hsl(0 0% 45.0980%);
  --accent: hsl(47.9476 95.8159% 53.1373%);
  --accent-foreground: hsl(0 0% 9.0196%);
  --destructive: hsl(357.6355 80.2372% 50.3922%);
  --destructive-foreground: hsl(0 0% 98.0392%);
  --border: hsl(0 0% 89.8039%);
  --input: hsl(0 0% 89.8039%);
  --ring: hsl(357.6355 80.2372% 50.3922%);
  --chart-1: hsl(357.6355 80.2372% 50.3922%);
  --chart-2: hsl(47.9476 95.8159% 53.1373%);
  --chart-3: hsl(0 0% 0%);
  --chart-4: hsl(220.9756 31.2977% 25.6863%);
  --chart-5: hsl(170.1176 100% 50%);
  --sidebar: hsl(0 0% 98.0392%);
  --sidebar-foreground: hsl(240 5.2632% 26.0784%);
  --sidebar-primary: hsl(240 5.8824% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98.0392%);
  --sidebar-accent: hsl(240 4.7619% 95.8824%);
  --sidebar-accent-foreground: hsl(240 5.8824% 10%);
  --sidebar-border: hsl(220 13.0435% 90.9804%);
  --sidebar-ring: hsl(357.6355 80.2372% 50.3922%);
  --font-sans: Anton SC, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(223.8136 0.0000% 3.9388%);
  --foreground: hsl(0 0% 98.0392%);
  --card: hsl(240 5.8824% 10%);
  --card-foreground: hsl(0 0% 98.0392%);
  --popover: hsl(240 5.8824% 10%);
  --popover-foreground: hsl(0 0% 98.0392%);
  --primary: hsl(357.6355 80.2372% 50.3922%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 3.7037% 15.8824%);
  --secondary-foreground: hsl(0 0% 98.0392%);
  --muted: hsl(240 3.7037% 15.8824%);
  --muted-foreground: hsl(240 5.0279% 64.9020%);
  --accent: hsl(47.9476 95.8159% 53.1373%);
  --accent-foreground: hsl(24 9.8039% 10%);
  --destructive: hsl(358.3178 59.7765% 35.0980%);
  --destructive-foreground: hsl(0 0% 98.0392%);
  --border: hsl(240 5.2632% 26.0784%);
  --input: hsl(240 5.2632% 26.0784%);
  --ring: hsl(357.6355 80.2372% 50.3922%);
  --chart-1: hsl(357.6355 80.2372% 50.3922%);
  --chart-2: hsl(47.9476 95.8159% 53.1373%);
  --chart-3: hsl(0 0% 100%);
  --chart-4: hsl(217.0968 91.1765% 60%);
  --chart-5: hsl(170.1176 100% 50%);
  --sidebar: hsl(0 0% 3.9216%);
  --sidebar-foreground: hsl(240 4.7619% 95.8824%);
  --sidebar-primary: hsl(357.6355 80.2372% 50.3922%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7037% 15.8824%);
  --sidebar-accent-foreground: hsl(240 4.7619% 95.8824%);
  --sidebar-border: hsl(240 3.7037% 15.8824%);
  --sidebar-ring: hsl(357.6355 80.2372% 50.3922%);
  --font-sans: Anton SC, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
